@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700|Ubuntu:300,400,500,700');

// Responsive
$min_desktop_size: 769px;
$min_desktop_large_size: 1440px;
$min-desktop-height: 720px;

$max_tablet_size: 768px;
$min_tablet_size: 427px;
$max_mobile_size: 426px;


$secondary_font: 'Oswald', sans-serif;
$primary_font: 'Ubuntu', sans-serif;

$color_one: #F3005B;
$color_two: #09031b;
$color_contrast: #FFF;
$color_three: #22d2dc;

$left_content_width: 400px;