@import '../../assets/styles/variables';
@import '../../assets/styles/mixins/responsive';

.auth-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: #f5f7fa;
}

.auth-wrapper {
	box-shadow: 0 0px 30px 0px #00000017;
	color: #666;
	position: absolute;
  width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	* {
		transition: all ease .2s;
	}
	@include min-tablet-size {
		width: 400px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	@include min-desktop-size {
		max-width: 1000px;
		width: 90%;
		min-width: 750px;
		height: 700px;
		margin-top: 5%;
		background-image: url(/assets/images/bg.jpg);
		background-size: contain;
		background-position: right;
	}
	.left-content {
		padding: 20px;
		background: white;
		height: 100%;
		@include min-desktop-size {
			width: 350px;
		}
		img {
			width: 200px;
			margin: 0 auto;
			display: block;
			margin-top: 40px;
  		opacity: .8;
		}
		.welcome {
			text-align: center;
			margin: 30px 0;
			font-weight: 100;
      color: #666;
      padding: 0 50px;
			h1 {
				font-size: 20px;
				display: block;
				margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #dadada;
			}
			p {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 20px;
			}
			a {
				display: block;
				color: $color_one;
				font-weight: bold;
			}
    }
    form {
      padding: 0 20px;
    }
    .links {
      font-size: 14px;
      text-align: center;
      color: #666;
    }
	}
}