<div class="day-entries">
  <a href="javascript:;" class="day-options">
    <i class="fas fa-ellipsis-v"></i>
  </a>
  <div class="day-info">
    <p class="day-info-title">
      {{ isToday() ? 'Hoje' : (entry | async)?.date | date:'dd MMMM, yyyy' }}
    </p>
    <p class="day-info-date">
      <i class="far fa-calendar-alt"></i>
      {{ (entry | async)?.date | date:'EEEE'}}
    </p>
    <span class="day-info-type label" *ngIf="isHoliday() || isWeekend()">
      {{ isHoliday() ? 'Feriado' : 'Descanso' }}
    </span>
  </div>
  <app-timeline [entry]="entry"></app-timeline>
</div>
