@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins/animations";

app-timespot {
  display: inline-block;
  margin-left: 80px;

  &:first-of-type {
    margin-left: 0;

    &:before {
      display: none;
    }
  }

  &:before {
    content: '';
    height: 2px;
    background: #eaeaea;
    position: absolute;
    top: 0;
    width: 120px;
    margin-left: -100px;
  }

  &:after {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #f99bbe;
    background: #FFF;
    position: absolute;
    border-radius: 50px;
    top: -7px;
    z-index: 1;
    margin-left: 20px;
  }

  .timeline-spot {
    cursor: pointer;
  }

  .timeline-spot-title {
    display: inline-block;
    font-family: $secondary_font;
    font-size: 14px;
    position: relative;
    &:after {
      content: 'Editar';
      font-weight: normal;
      font-size: 11px;
      font-family: "Ubuntu", sans-serif;
      position: absolute;
      left: 0;
      right: 0;
      text-align: right;
      top: 5px;
      color: #666;
      @include fade-animation-hidden;
    }
    &:hover {
      &:after {
        top: 20px;
        @include fade-animation-show;
      }
    }
  }
}
