@import "../../../../assets/styles/variables";

app-timespot {
  display: inline-block;
  margin-left: 80px;

  &:first-of-type {
    margin-left: 0;

    &:before {
      display: none;
    }
  }

  &:before {
    content: '';
    height: 2px;
    background: #eaeaea;
    position: absolute;
    top: 0;
    width: 120px;
    margin-left: -100px;
  }

  &:after {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #f99bbe;
    background: #FFF;
    position: absolute;
    border-radius: 50px;
    top: -7px;
    z-index: 1;
    margin-left: 20px;
  }

  .timeline-spot-title {
    display: inline-block;
    font-family: $secondary_font;
    font-size: 14px;
  }
}
