<div class="season"
  [class.season--selected]="isSelected()"
  [class.season--positive]="isPositive()"
  [class.season--negative]="isNegative()">
  <div class="season-name">
    <i class="fas fa-circle"></i>
    {{ season.date | date: 'MMMM' }}
  </div>
  <div class="season-period">
    <p>
      {{ (season.period.startIn | date: 'dd/MMM') | lowercase }} ...
      {{ (season.period.endIn | date: 'dd/MMM') | lowercase }}
    </p>
    <!-- <p>16-fev ... 15-mar</p> -->
  </div>
</div>
<!-- <div class="season season--selected season--negative">
  <div class="season-name">
    <i class="fas fa-circle"></i>Abril
  </div>
  <div class="season-period">
    <p>16-mar ... 15-abr</p>
  </div>
</div>
<div class="season season--negative">
  <div class="season-name">
    <i class="fas fa-circle"></i>Maio
  </div>
  <div class="season-period">
    <p>16-abr ... 15-mai</p>
  </div>
</div> -->
