<div class="sidebar" [@flyInOut]="state">
  <div class="daily-summary">
    <app-user-toolbar></app-user-toolbar>
    <div class="timer-register">
      <input type="text" class="form-control" name="time-register" id="time-register" [textMask]="{placeholderChar: '_', mask: maskEntry}" placeholder="00:00">
      <span class="tip">Pressione ENTER para salvar</span>
    </div>
    <div class="timer-feedback">
      <p><strong>Olá Charles,</strong> {{welcomeMsg}}</p>
    </div>
    <div class="timer-label">
      <span class="timer-label-title">Horas trabalhadas</span>
      <span class="timer-label-content">10:20</span>
    </div>
    <div class="timer-label">
      <span class="timer-label-title">Saída sugerida</span>
      <span class="timer-label-content">18:16</span>
    </div>
  </div>  
</div>