<main class="main-content">
  <div class="left-content">
    <app-sidebar></app-sidebar>
  </div>

  <div class="right-content">
    <div class="today">
      <app-day-entry [entry]="todayEntry$" [today]="true"></app-day-entry>
    </div>

    <app-seasons
      [initialDate]="initialDate"
      (whenSelected)="seasonSelected($event);"
      ></app-seasons>

    <div class="story">
      <div class="summary"></div>
      <div class="entries">
        <app-day-entry
          *ngFor="let entry of entries$ | async"
          [entry]="toObservable(entry)"
          ></app-day-entry>
      </div>
    </div>
  </div>
</main>
