<main class="main-content">
  <div class="left-content">
    <div class="daily-summary">
      <div class="user">
        <div class="user-pic"></div>
        <div class="user-name">Charles Lennon <i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="timer-register">
        <input type="text" class="form-control" name="time-register" id="time-register" placeholder="00:00">
        <span class="tip">Pressione ENTER para salvar</span>
      </div>
      <div class="timer-feedback">
        <p><strong>Olá Charles,</strong> você ainda não registrou ponto hoje.</p>
      </div>
      <div class="timer-label">
        <span class="timer-label-title">Horas trabalhadas</span>
        <span class="timer-label-content">10:20</span>
      </div>
      <div class="timer-label">
        <span class="timer-label-title">Saída sugerida</span>
        <span class="timer-label-content">18:16</span>
      </div>
    </div>
  </div>
  <div class="right-content">
    Aqui vai ficar o histórico/resumo de outros períodos e a timeline do dia
  </div>
</main>
