@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins/animations";

main {
  width: 100%;
  height: 100%;
  position: relative;
}

.left-content {
  width: $left_content_width;
  height: 100%;
  overflow: auto;
  background: $color_two;
  color: $color_contrast;
  overflow: auto;

  padding: 30px 50px;
  font-size: 13px;
  * {
    transition: all ease .2s;
  }
}

.right-content {
  position: absolute;
  width: calc(100% - 400px);
  left: $left_content_width;
  top: 0;
  overflow: auto;
  height: 100%;
  * {
    transition: all ease .2s;
  }


  .seasons {
    background: #f5f5f5;
    font-size: 0;
    text-align: center;
    .season {
      display: inline-block;
      width: 200px;
      text-align: center;
      color: #666;
      font-weight: 100;
      font-size: 15px;
      border-right: 1px solid #e4e4e4;
      cursor: pointer;
      &.season--selected {
        background: $color_one;
        color: #FFF;
        width: 220px;
      }
      &.season--positive {
        i {
          color: #26e473;
        }
      }
      &.season--negative {
        i {
          color: #ad0000;
        }
      }
      .season-name {
        font-family: $secondary_font;
        font-weight: 400;
        font-size: 25px;
        padding-bottom: 5px;
        padding-top: 15px;
        i {
          font-size: 10px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .season-period {
        padding-bottom: 25px;
        p {
          font-style: italic;
          margin-bottom: 0;
        }
      }
    }
  }
  .story {
    .entries {
      width: 900px;
      margin: 20px auto;
      .day-entries {
        display: inline-block;
        padding: 20px 70px 30px 10px;
        box-shadow: none;
        border-bottom: 1px solid #e4e4e4;
        width: auto;
      }
    }
  }
}


.today {
  .day-entries {
    box-shadow: 0 2px 12px 0 #00000021;
  }
}
