@import "../variables";

.alert {
	padding: 10px;
  background: #fff9fb;
  border-radius: 5px;
  color: $color_one;
  font-weight: 500;
  border: 1px solid #ffd9e7;
  font-size: 12px;
  margin-bottom: 20px;
}