@import "../variables";

.label {
	display: inline-block;
  color: white;
  background: $color_one;
  border-radius: 5px;
  padding: 3px 12px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}