/* You can add global styles to this file, and also import other style files */

@import 'assets/styles/bootstrap/variables';
@import 'assets/styles/font-awesome/variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
// @import "~font-awesome/css/font-awesome.css";

@import "assets/styles/main";

body {
  background: #ebeff5;
}



.auth-container {
  .card {
    height: calc(100vh - 2 * 40px);
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}


