@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700|Ubuntu:300,400,500,700');

$secondary_font: 'Oswald', sans-serif;
$primary_font: 'Ubuntu', sans-serif;

$color_one: #09031b;
$color_two: #F3005B;
$color_contrast: #FFF;
$color_three: #22d2dc;