@import "./theme/card";
@import "./theme/form";


body, html {
  height: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #ebeff5;
  font-family: 'Roboto';
  font-size: 16px;
}



.auth-container {
  .card {
    height: calc(100vh - 2 * 40px);
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}


