@import "variables";

@import "./theme/card";
@import "./theme/form";


body, html {
  height: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #ebeff5;
  font-family: $primary_font;
  font-size: 16px;
}
