<div class="user">
  <div class="user-pic"
    *ngIf="gravatarUrl"
    [style.backgroundImage]="gravatarUrl"
  ></div>
  <div class="user-name dropdown" (click)="showUserDropdown = !showUserDropdown">
      {{ (user | async)?.displayName || (user | async)?.email }}
    <i class="fas fa-chevron-down"></i>
    <div class="dropdown-menu" [ngClass]="{'show': showUserDropdown }">
      <a class="dropdown-menu-item" routerLink="/user/profile" href="#">Minha conta</a>
      <div class="dropdown-menu-item" (click)="logout()">Sair</div>
    </div>
  </div>
</div>
