@import "../variables";

.btn {
	&.btn-primary {
		background: $color_one;
		border-radius: 50px;
		border: none;
		padding: 10px 45px;
		font-size: 15px;
		font-weight: 100;
		box-shadow: 0 2px 16px #71002b75;
		&:focus, &:hover {
			background: darken($color: $color_one, $amount: 5%);
		}
	}
}