.form-control {
  display: block;
  width: 100%;
  height: initial;
  padding: 12px 18px;

  background-color: #fff;
  background-clip: padding-box;

  border: 2px solid #dadfe6;
  border-radius: 6px;

  color: #2a2a2a;
  // color: #495057;

  // font-size: 16px;
  // font-family: 'Roboto';

  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    box-shadow: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
  white-space: nowrap;
}
