@import '../variables';

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #666;
  box-shadow: none;
  border-radius: 0;
  color: $color_two;
  &:focus {
    border-bottom: 1px solid $color_two;
  }
  &:-webkit-autofill {
    background: transparent !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
  white-space: nowrap;
}
